{% extends "_layouts/default.njk" %}

{% block body %}
<div class="content">

  <strong>Olá, {{ user.name }} </strong>
  <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

  <ul class="providers">
    {% for provider in providers %}
    <li class="provider">
      <div>
        <img src="/files/{{ provider.avatar }}" />
        <strong> {{ provider.name }} </strong>
      </div>
      <a href="/app/appointments/new/{{ provider.id }}">+</a>
    </li>
    {% endfor%}
  </ul>

  {% if (user.provider === true) %}
    <div>
      <tr>
        <td>
          <a href="/app/schedule" class="btn-menu">Agenda do dia</a>
        </td>
        <td>
          <a href="/app/logout" class="btn-menu-logout">Sair</a>
        </td>
      </tr>
    </div>
  {% else %}
    <a href="/app/logout" class="logout">Sair</a>
  {% endif %}
</div>

{% endblock %}
